# Basics
*.py[cod]
__pycache__

# Pycharm
.idea/*
ahorrapp/.idea/*

ahorrapp/static/bower_components/*




ahorrapp/users/migrations/__pycache__
ahorrapp/incomes/migrations/__pycache__
ahorrapp/incomes/migrations/000
