# Basics
*.py[cod]
__pycache__

# Pycharm
.idea/*
ahorrapp/.idea/*

ahorrapp/static/bower_components/*

ahorrapp/manage.py

ahorrapp/ahorrapp/settings/local.py



ahorrapp/users/migrations/__pycache__
