{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}ahorraapp-Inicia sesión{% endblock title %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'bower_components/materialize/dist/css/materialize.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock styles %}
{% block content %}
    <form method="post">
        {% csrf_token %}
        {{ form.as_p}}
        <input type="submit" value="enviar">
    </form>
{% endblock content %}
