{% extends 'dashboard/base_dashboard.html' %}
{% load staticfiles %}
{% load humanize %}
{% block title %}Mis Cuentas|Ahorra-app{% endblock title %}
{% block custom_style %}
    <link rel="stylesheet" href="{% static 'bower_components/sweetalert/dist/sweetalert.css' %}">
{% endblock custom_style %}
{% block content_main %}
    <div class="container">
        <h4>Lista de cuentas</h4>
        <div class="row">
            {% for account in accounts %}
                {% if account.saldo_total %}
                    <div class="col s12 m5 l5">
                        <div class="card sticky-action">
                            <div class="card-image waves-effect waves-block waves-light">
                                <img class="activator" src="{% static 'images/office.jpg' %}">
                            </div>
                            <div class="card-content">
                                <span class="card-title activator grey-text text-darken-4">{{ account.name_account }}<i class="material-icons right">more_vert</i></span>
                                <p>Saldo: $ {{ account.saldo_total|intcomma }}</p>
                            </div>
                            <div class="card-action">
                                <a href="{% url 'incomes:update_account' account.id %}"><span><i class="material-icons" id="editar">mode_edit</i></span></a>
                                <a href="{% url 'incomes:delete_account' account.id %}"><span><i class="material-icons right" id="eliminar">delete</i></span></a>
                            </div>
                            <div class="card-reveal">
                                <span class="card-title grey-text text-darken-4">{{ account.name_account }}<i class="material-icons right">close</i></span>
                                <p>Creada el {{ account.created }}.</p>
                                <p>Tipo de cuenta: {{ account.get_account_type_display }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m1 l2"></div>
                {% else %}
                    <div class="col s12 m5 l5" id="{{ account.id }}">
                        <div class="card sticky-action">
                            <div class="card-image waves-effect waves-block waves-light">
                                <img class="activator" src="{% static 'images/office.jpg' %}">
                            </div>
                            <div class="card-content">
                                <span class="card-title activator grey-text text-darken-4">{{ account.name_account }}<i class="material-icons right">more_vert</i></span>
                                <p>Saldo: $ {{ account.saldo_actual|intcomma }}</p>
                            </div>
                            <div class="card-action">
                                <a href="{% url 'incomes:update_account' account.id %}"><span><i class="material-icons" id="editar">mode_edit</i></span></a>
{#                                <a href="{% url 'incomes:delete_account' account.id %}"><span><i class="material-icons right" id="eliminar">delete</i></span></a>#}
                                <a href="#"><span><i class="material-icons right eliminar" id="{{ account.id }}">delete</i></span></a>
                            </div>
                            <div class="card-reveal">
                                <span class="card-title grey-text text-darken-4">{{ account.name_account }}<i class="material-icons right">close</i></span>
                                <p>Creada el {{ account.created }}.</p>
                                <p>Tipo de cuenta: {{ account.get_account_type_display }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m1 l1"></div>
                {% endif %}
            {% empty %}
                <div class="col s12 m4 l2"><p>No tienes cuentas aún.</p></div>

            {% endfor %}
        </div>
    </div>
    <div class="fixed-action-btn">
        <a class="btn-floating btn-large red" href="{% url 'incomes:create_account' %}"><i class="large material-icons">add</i></a>
    </div>
{% endblock %}
{% block custom_js %}
    <script src="{% static 'bower_components/sweetalert/dist/sweetalert.min.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.eliminar').click(function () {
            var id = $(this).attr("id");
            console.log(id);
            swal({
                        title: "Estas seguro?",
                        text: "Si eliminas esta cuenta se borraran todos los ingresos, gastos y obligaciones " +
                        "asociados a ella",
                        type: "warning",
                        showCancelButton: true,
                        confirmButtonColor: "#DD6B55",
                        confirmButtonText: "Si, borrarla!",
                        closeOnConfirm: false
            },
                    function(){
                        var div_deleted = 'div#' + id;
                        var url_id = '/cuentas/delete/' + id;
                        console.log(div_deleted);
                        $.ajax({
                            data: {'pk': id},
                            url: url_id,
                            type: 'get',
                            success: function (data) {
                                console.log(data);
                                $(div_deleted).hide();
                                swal("Deleted!", "La cuenta ha sido eliminada correctamente.", "success");
                            }
                        });
            });
        });
        });

    </script>
{% endblock custom_js %}